.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bodyContainer {
  width:75%;
  min-width: 400px;
  margin:0 auto;
}

.bpmRangeContainer {
  width: 80%;
  margin: 30px auto 0;
  height: 60px;
}

.input-range__slider {
  background: #3f51b5;
  border: 1px solid #3f51b5;
}

.input-range__track--active {
  background: #3f51b5;
}